<div class="sidebar">
  <div class="sidebar-content">
    <div class="brand">
      <h4>lorem ipsum</h4>
    </div> 
    <div class="main-content">
      <div class="row g-3 mb-1" >
        <span class="material-symbols-outlined col-sm-2"> dashboard </span>
        <div class="col-sm-5">
          <p style="font-size: 1rem" >Dashboard</p>
        </div>
        <span class="material-symbols-outlined col-sm dropdown"data-bs-toggle="dropdown" (click)="toggle()"> expand_more </span>
        <div class="dropdown-menu">
            <a href="#" class="dropdown-item">lorem ipsum</a>
            <a href="#" class="dropdown-item">lorem ipsum</a>
            <a href="#" class="dropdown-item">lorem ipsum</a>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> handshake </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">Onboarding</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> category </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">Product and Category</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> inventory_2 </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">Inventory</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> group </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">User Management</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> lists </span>
        <div class="col-sm-10">
          <p style="font-size: 1rem">Order Management</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2"> currency_rupee </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">Transation</p>
        </div>
      </div>
      <div class="row mb-1">
        <span class="material-symbols-outlined col-sm-2">table_chart </span>
        <div class="col-sm-9">
          <p style="font-size: 1rem">Mastertable</p>
        </div>
      </div>
    </div>
  </div>
</div>
